<body class="dark-edition">
  <div class="wrapper ">
    <div class="container-fluid h-100">
      <div class="row pt-4">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
          <h2 class="text-white font-weight-bold">{{formTitle}}</h2>
          <hr class="bg-white">
          <form id="profileForm">
            <div class="row mt-5">
              <input type="hidden" id="profileId" value="{{profile._id}}">
              <div class="col-md-3">
                <img src="{{profile.avatar}}" class="img-fluid rounded-circle" alt="profile image" id="selectedAvatar">
                <div class="text-center mt-2">
                  <span class="text-success font-weight-bold" id="selectedAvatarLabel">Avatar actual</span>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group mb-4">
                  <label for="name" class="text-white">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" value="{{profile.name}}" required minlength="3" maxlength="20">
                </div>
                <div class="form-group mb-4">
                  <label for="type" class="text-white">Tipo de perfil</label>
                  <select class="custom-select" id="type" name="type">
                    <option value="kid" {{#ifCond profile.type '===' 'kid'}}selected{{/ifCond}}>Niños</option>
                    <option value="adult" {{#ifCond profile.type '===' 'adult'}}selected{{/ifCond}}>Adultos</option>
                  </select>
                </div>
                <div class="form-group mb-4">
                  <label for="avatar" class="text-white">Avatar</label>
                  <div class="row">
                    <div class="col-md-2">
                      <img src="/img/avatar1.png" class="img-fluid rounded-circle mouser avatar-selection" alt="profile image" onclick="selectAvatar(this)" title="Doge">
                    </div>
                    <div class="col-md-2">
                      <img src="/img/avatar2.jpg" class="img-fluid rounded-circle mouser avatar-selection" alt="profile image" onclick="selectAvatar(this)" title="El amsioso">
                    </div>
                    <div class="col-md-2">
                      <img src="/img/avatar3.png" class="img-fluid rounded-circle mouser avatar-selection" alt="profile image" onclick="selectAvatar(this)" title="Dogentuar">
                    </div>
                    <div class="col-md-2">
                      <img src="/img/avatar4.jpg" class="img-fluid rounded-circle mouser avatar-selection" alt="profile image" onclick="selectAvatar(this)" title="Cheems Parker">
                    </div>
                    <div class="col-md-2">
                      <img src="/img/avatar5.png" class="img-fluid rounded-circle mouser avatar-selection" alt="profile image" onclick="selectAvatar(this)" title="Doge cool">
                    </div>
                    <div class="col-md-2">
                      <img src="/img/default-avatar.png" class="img-fluid rounded-circle mouser avatar-selection" alt="profile image" onclick="selectAvatar(this)" title="Anonimo">
                    </div>
                </div>
                <div class="text-center mt-5">
                  <button type="submit" class="btn btn-success"><i class="material-icons">save</i> Guardar cambios</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-3">&nbsp;</div>
      </div>
    </div>
  </div>

  {{>corescripts}}

  <script src="/js/plugins/sweetalert2.js"></script>
  <script src="/js/controls/profileForm.js"></script>

</body>