<footer class="footer">
    <div class="container-fluid">
        <div class="copyright float-right">
            Codificado con <i class="material-icons">favorite</i> por
            <a href="https://urienix.moe" target="_blank">Urienix</a>
        </div>
    </div>
</footer>