<body class="dark-edition">
  <div class="wrapper ">
    {{>sidebar}}
    <div class="main-panel">
      {{>navtop}}
      <div class="content">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">movies</i>
                    </div>
                    <h3 class="card-title">Catálogo de películas</h3>
                  </div>
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table">

                            <thead>
                              <tr>
                                <th class="text-center">#</th>
                                <th>Titulo</th>
                                <th>Admite niños</th>
                                <th>Idioma</th>
                                <th class="text-right">Duración</th>
                                <th class="text-right">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="text-center">1</td>
                                <td>Pegamento</td>
                                <td><span class="badge badge-success">Si</span></td>
                                <td>Español</td>
                                <td class="text-right">40 Min</td>
                                <td class="td-actions text-right">
                                  <button type="button" data-toggle="tooltip" class="btn btn-success"
                                    data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                  </button>
                                  <button type="button" data-toggle="tooltip" class="btn btn-danger"
                                    data-original-title="" title="">
                                    <i class="material-icons">delete</i>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">1</td>
                                <td>Pegamento</td>
                                <td><span class="badge badge-success">Si</span></td>
                                <td>Español</td>
                                <td class="text-right">40 Min</td>
                                <td class="td-actions text-right">
                                  <button type="button" data-toggle="tooltip" class="btn btn-success"
                                    data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                  </button>
                                  <button type="button" data-toggle="tooltip" class="btn btn-danger"
                                    data-original-title="" title="">
                                    <i class="material-icons">delete</i>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">1</td>
                                <td>Pegamento</td>
                                <td><span class="badge badge-success">Si</span></td>
                                <td>Español</td>
                                <td class="text-right">40 Min</td>
                                <td class="td-actions text-right">
                                  <button type="button" data-toggle="tooltip" class="btn btn-success"
                                    data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                  </button>
                                  <button type="button" data-toggle="tooltip" class="btn btn-danger"
                                    data-original-title="" title="">
                                    <i class="material-icons">delete</i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footer}}
    </div>
  </div>

  {{>corescripts}}

  <script src="/js/plugins/sweetalert2.js"></script>

</body>

</html>