<body class="dark-edition off-canvas-sidebar">
  <div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
      style="background-image: url('/img/cheemswall.jpg'); background-size: cover; background-position: top center;">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            <form class="form" id="loginForm" autocomplete="off">
              <div class="card card-login card-hidden" id="loginCard">
                <div class="card-header text-center card-header-warning" style="filter: invert(1); border-radius: 10%;">
                  <img src="/img/cheems-logo.png" alt="" width="150px;">
                </div>
                <div class="card-body">
                  <h4 class="text-center text-white font-weight-bold">Inicio de sesión</h4>
                  <h5 class="text-center text-danger font-weight-bold" id="loginErrorMessage" hidden>Usuario y/o contraseña incorrectos</h5>
                  <span class="md-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input type="email" class="form-control" placeholder="Correo" id="emailInput">
                    </div>
                  </span>
                  <span class="md-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" class="form-control" placeholder="Contraseña" id="passwordInput">
                    </div>
                  </span>
                  <div class="mt-4 pl-3">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="rememberCheck"> Mantener sesión iniciada
                        <span class="form-check-sign"><span class="check"></span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="card-footer justify-content-center">
                  <button type="submit" class="btn btn-warning text-dark" style="filter: invert(1); font-size: 14px" id="loginButton">Ingresar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            <div class="mt-1 text-center">
              <h5 class="text-white">¿No tienes una cuenta? <a href="/register" class="text-warning">Regístrate</a></h5>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="copyright float-center">
            Codeado con <i class="material-icons" style="color: #016FFC">favorite</i> por
            <a href="https://urienix.moe" target="_blank">Urienix</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
  {{>corescripts}}
  <script>
    window.onload = () => {
      setTimeout(() => {
        document.querySelector('#loginCard').classList.remove('card-hidden');
      }, 700);
    }
  </script>
  <script src="/js/controls/login.js"></script>
</body>